In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import wbgapi as wb

In [21]:
wb.series.info(q="underweight")

id                 value
-----------------  -------------------------------------------------------------------------
SH.STA.MALN.FE.ZS  Prevalence of underweight, weight for age, female (% of children under 5)
SH.STA.MALN.MA.ZS  Prevalence of underweight, weight for age, male (% of children under 5)
SH.STA.MALN.ZS     Prevalence of underweight, weight for age (% of children under 5)
                   3 elements

In [91]:
HepB3 = wb.data.DataFrame('SH.IMM.HEPB', wb.region.members('SAS'))
HepB3

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022
economy,,,,,,,,,,,,,,,,,,,,,
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,64.0,62.0,64.0,66.0,66.0,72.0,72.0,70.0,66.0,NaN
BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.0,97.0,98.0,98.0,98.0,98.0,98.0,98.0,98.0,NaN
BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.0,99.0,99.0,98.0,98.0,97.0,97.0,96.0,98.0,NaN
IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70.0,79.0,87.0,88.0,89.0,90.0,91.0,85.0,85.0,NaN
LKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,96.0,96.0,NaN
MDV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.0,99.0,99.0,99.0,99.0,99.0,98.0,99.0,96.0,NaN
NPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,92.0,92.0,91.0,87.0,90.0,91.0,93.0,84.0,91.0,NaN
PAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.0,69.0,72.0,75.0,78.0,81.0,84.0,77.0,83.0,NaN

In [17]:
Immunization_measles  = wb.data.DataFrame('SH.IMM.MEAS', wb.region.members('SAS'))
Immunization_measles

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022
economy,,,,,,,,,,,,,,,,,,,,,
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57.0,60.0,62.0,64.0,67.0,71.0,64.0,66.0,63.0,NaN
BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.0,94.0,97.0,97.0,97.0,97.0,97.0,97.0,97.0,NaN
BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,94.0,97.0,97.0,97.0,97.0,97.0,97.0,93.0,97.0,NaN
IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.0,85.0,87.0,88.0,90.0,93.0,95.0,89.0,89.0,NaN
LKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,96.0,97.0,NaN
MDV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,NaN
NPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88.0,88.0,85.0,83.0,90.0,91.0,92.0,87.0,90.0,NaN
PAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,68.0,71.0,75.0,75.0,76.0,79.0,81.0,83.0,81.0,NaN

In [18]:
Immunization_DPT  = wb.data.DataFrame('SH.IMM.MEAS', wb.region.members('SAS'))
Immunization_DPT

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022
economy,,,,,,,,,,,,,,,,,,,,,
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57.0,60.0,62.0,64.0,67.0,71.0,64.0,66.0,63.0,NaN
BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.0,94.0,97.0,97.0,97.0,97.0,97.0,97.0,97.0,NaN
BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,94.0,97.0,97.0,97.0,97.0,97.0,97.0,93.0,97.0,NaN
IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.0,85.0,87.0,88.0,90.0,93.0,95.0,89.0,89.0,NaN
LKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,96.0,97.0,NaN
MDV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,NaN
NPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88.0,88.0,85.0,83.0,90.0,91.0,92.0,87.0,90.0,NaN
PAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,68.0,71.0,75.0,75.0,76.0,79.0,81.0,83.0,81.0,NaN

In [22]:
underweight = wb.data.DataFrame('SH.STA.MALN.ZS', wb.region.members('SAS'))
underweight

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022
economy,,,,,,,,,,,,,,,,,,,,,
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.6,NaN,NaN,NaN,NaN,19.1,NaN,NaN,NaN,NaN
BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.9,32.8,28.9,NaN,NaN,21.9,22.6,NaN,NaN,NaN
BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,29.4,36.3,NaN,33.4,NaN,NaN,31.5,NaN,NaN
LKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,20.5,NaN,NaN,NaN,NaN,NaN,NaN
MDV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,14.8,NaN,NaN,NaN,NaN,NaN
NPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,29.7,NaN,27.3,NaN,NaN,24.4,NaN,NaN,18.7
PAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.8,NaN,NaN,NaN,NaN,23.1,NaN,NaN,NaN,NaN

In [23]:
gov_health_expenditure = wb.data.DataFrame('SH.XPD.GHED.GD.ZS', wb.region.members('SAS'))
gov_health_expenditure

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022
economy,,,,,,,,,,,,,,,,,,,,,
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.443359,0.472657,0.522673,0.600130,0.643134,0.552396,0.497056,1.186212,0.555718,NaN
BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.523801,0.505570,0.465327,0.569685,0.591136,0.569585,0.518663,0.474269,NaN,NaN
BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.554128,2.455318,2.789641,2.644663,2.489465,2.579609,2.651099,3.410299,NaN,NaN
IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.865042,0.856535,0.921932,0.940500,0.967347,0.980248,0.985411,1.084499,NaN,NaN
LKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.738127,1.613150,1.709943,1.666319,1.474404,1.787583,1.499712,1.862519,NaN,NaN
MDV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.299765,4.904356,6.265981,7.425929,6.603535,5.747122,6.001404,9.076745,NaN,NaN
NPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.756776,0.873647,0.909277,1.007717,1.065426,1.067212,1.102834,1.554793,NaN,NaN
PAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.629964,0.596806,0.676380,0.701452,0.912770,0.935915,0.943012,1.039961,NaN,NaN

In [67]:
UHC_Score = wb.data.DataFrame('SH.UHC.SRVS.CV.XD', wb.region.members('SAS'))
UHC_Score

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022
economy,,,,,,,,,,,,,,,,,,,,,
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,36.0,NaN,41.0,NaN,42.0,NaN,41.0,NaN
BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,45.0,NaN,48.0,NaN,50.0,NaN,52.0,NaN
BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,53.0,NaN,56.0,NaN,60.0,NaN,60.0,NaN
IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,57.0,NaN,60.0,NaN,64.0,NaN,63.0,NaN
LKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,61.0,NaN,65.0,NaN,66.0,NaN,67.0,NaN
MDV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,64.0,NaN,71.0,NaN,68.0,NaN,61.0,NaN
NPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,47.0,NaN,45.0,NaN,50.0,NaN,54.0,NaN
PAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,40.0,NaN,43.0,NaN,44.0,NaN,45.0,NaN

In [25]:
physician = wb.data.DataFrame('SH.MED.PHYS.ZS', wb.region.members('SAS'))
physician

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022
economy,,,,,,,,,,,,,,,,,,,,,
AFG,0.035,NaN,NaN,NaN,NaN,0.063,NaN,NaN,NaN,NaN,...,0.2846,0.2983,0.2850,0.2782,0.2409,0.2966,0.2125,0.2538,NaN,NaN
BGD,NaN,NaN,NaN,NaN,NaN,0.123,NaN,NaN,NaN,NaN,...,0.4218,0.4887,0.4858,0.4974,0.5433,0.5809,0.6367,0.6672,NaN,NaN
BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2858,0.3393,0.3448,0.4059,0.4024,0.4242,0.4600,0.4990,NaN,NaN
IND,0.210,NaN,NaN,NaN,NaN,0.205,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.6857,NaN,0.7352,NaN,NaN
LKA,0.223,NaN,NaN,NaN,NaN,0.172,NaN,NaN,NaN,NaN,...,0.7983,0.8364,0.8624,0.8925,0.9277,1.0041,1.1539,1.2291,NaN,NaN
MDV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.7701,NaN,NaN,1.7486,1.7084,2.0527,NaN,NaN,NaN
NPL,0.013,NaN,NaN,NaN,NaN,0.021,NaN,NaN,NaN,NaN,...,0.5640,NaN,NaN,NaN,0.9101,0.7486,0.8091,0.8516,NaN,NaN
PAK,0.185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.8771,0.8972,0.9262,0.9620,1.0005,0.9801,1.1179,NaN,NaN,NaN

In [26]:
nurse = wb.data.DataFrame('SH.MED.NUMW.P3', wb.region.members('SAS'))
nurse

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022
economy,,,,,,,,,,,,,,,,,,,,,
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2495,0.1476,0.1299,0.1482,0.1755,0.4461,NaN,NaN,NaN,NaN
BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2100,0.2560,0.2750,0.2639,0.3163,0.3962,0.3916,0.4891,NaN,NaN
BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1250,1.3308,1.4700,1.5325,1.6349,1.8518,1.8294,2.0775,NaN,NaN
IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.1079,1.7271,NaN,1.7483,NaN,NaN
LKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.8401,1.9132,1.9606,1.9477,1.9966,2.1803,2.2604,2.4952,NaN,NaN
MDV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.3701,6.5729,NaN,6.4927,6.4282,4.8079,4.6605,NaN,NaN
NPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.8729,2.1369,NaN,NaN,2.8479,3.1084,3.3047,3.3418,NaN,NaN
PAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.5279,0.4622,0.4752,0.4873,0.5986,NaN,0.4832,NaN,NaN,NaN

In [27]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql.cursors
import os
import getpass

In [28]:
pw = getpass.getpass()

 ········

In [29]:
connection_string = 'mysql+pymysql://root:' + pw + '@localhost:3306/'
engine = create_engine(connection_string)

In [30]:
sql = "create database medical_resources"

In [33]:
nurse = nurse.reset_index()

In [34]:
nurse.to_sql('nurse', engine, 'medical_resources', if_exists='replace', index=False)

8

In [35]:
physician = physician.reset_index()

In [37]:
physician.to_sql('physician', engine, 'medical_resources', if_exists='replace', index=False)

8

In [65]:
UHC_Score = UHC_Score.reset_index()

In [66]:
UHC_Score

,level_0,index,economy,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,...,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022
0,0,0,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,36.0,NaN,41.0,NaN,42.0,NaN,41.0,NaN
1,1,1,BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,45.0,NaN,48.0,NaN,50.0,NaN,52.0,NaN
2,2,2,BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,53.0,NaN,56.0,NaN,60.0,NaN,60.0,NaN
3,3,3,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,57.0,NaN,60.0,NaN,64.0,NaN,63.0,NaN
4,4,4,LKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,61.0,NaN,65.0,NaN,66.0,NaN,67.0,NaN
5,5,5,MDV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,64.0,NaN,71.0,NaN,68.0,NaN,61.0,NaN
6,6,6,NPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,47.0,NaN,45.0,NaN,50.0,NaN,54.0,NaN
7,7,7,PAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,40.0,NaN,43.0,NaN,44.0,NaN,45.0,NaN

In [61]:
UHC_Score.to_sql('UHC_Score', engine, 'medical_resources', if_exists='replace', index=False)

8

In [45]:
gov_health_expenditure = gov_health_expenditure.reset_index()

In [46]:
gov_health_expenditure.to_sql('gov_health_expenditure', engine, 'medical_resources', if_exists='replace', index=False)

8

In [47]:
underweight = underweight.reset_index()

In [48]:
underweight.to_sql('underweight', engine, 'medical_resources', if_exists='replace', index=False)

8

In [87]:
HepB3

,economy,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,...,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022
0,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,64.0,62.0,64.0,66.0,66.0,72.0,72.0,70.0,66.0,NaN
1,BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.0,97.0,98.0,98.0,98.0,98.0,98.0,98.0,98.0,NaN
2,BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.0,99.0,99.0,98.0,98.0,97.0,97.0,96.0,98.0,NaN
3,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70.0,79.0,87.0,88.0,89.0,90.0,91.0,85.0,85.0,NaN
4,LKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,96.0,96.0,NaN
5,MDV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.0,99.0,99.0,99.0,99.0,99.0,98.0,99.0,96.0,NaN
6,NPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,92.0,92.0,91.0,87.0,90.0,91.0,93.0,84.0,91.0,NaN
7,PAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.0,69.0,72.0,75.0,78.0,81.0,84.0,77.0,83.0,NaN

In [92]:
HepB3 = HepB3.reset_index()

In [93]:
HepB3.to_sql('HepB3', engine, 'medical_resources', if_exists='replace', index=False)

8

In [54]:
Immunization_DPT = Immunization_DPT.reset_index()

In [55]:
Immunization_DPT.to_sql('Immunization_DPT', engine, 'medical_resources', if_exists='replace', index=False)

8